@charset "UTF-8";
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(3vh);
  }
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  color-scheme: dark;
  background-color: #181b1f;
  overflow: hidden;
  top: 0;
  margin: 0;
  transition: 0.5s;
}

main {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 33.3333333333vw;
  height: 29.3333333333vh;
  transition: 0.5s;
}
.card:hover {
  background-color: #2b2e33;
  height: 46vh;
  transition: 0.5s 0.2s;
}
.card:hover .title {
  transition: 0.5s 0.2s;
}
.card:hover .preview {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #181b1f;
  text-align: center;
  margin-bottom: 1.5vh;
  width: 22.2222222222vw;
  border-radius: 10px;
  animation-delay: 1s;
  animation: fade-in 1s ease-in-out forwards;
}
.card:hover .preview .content-text {
  width: 13.3333333333vw;
}
.card:hover .preview .link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #e07758;
  border-radius: 5px;
  color: #e07758;
  text-decoration: none;
  transition: 0.2s;
}
.card:hover .preview .link::before {
  content: "Portal Cards ⤴";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  background-color: #eeeae1;
  border-radius: 10px;
  transition: 0.2s;
}
.card:hover .preview .link:hover {
  height: 3.3333333333vh;
  background-color: #eeeae1;
  color: #eeeae1;
}
.card:hover .preview .link:hover::before {
  background-color: #e07758;
}
.card:hover ~ .card {
  height: 21vh;
  transition: 0.5s;
}
.card:hover ~ .card .title {
  height: 21vh;
  transition: 0.5s;
}
.card:has(~ .card:hover) {
  height: 21vh;
  transition: 0.5s;
}
.card:has(~ .card:hover) .title {
  height: 21vh;
  transition: 0.5s;
}
.card.clicked {
  position: absolute;
  align-items: center;
  background-color: #2b2e33;
  z-index: 10;
  height: 95vh;
  width: 95vw;
  overflow-y: auto;
  margin: auto;
  transition: 1s 0.2s;
}
.card.clicked .title {
  position: absolute;
  transition: 1s;
}
.card.clicked .content {
  animation-delay: 1s;
  animation: fade-in 1s ease-in-out forwards;
}
.card.clicked ~ .card {
  opacity: 0;
  transform: translateY(100vh);
  transition: 1s;
}
.card:has(~ .card.clicked) {
  opacity: 0;
  transform: translateY(-100vh);
  transition: 1s;
}

.title {
  top: 0;
  margin: 0;
  padding: 0;
  display: block;
  flex-basis: 100%;
  height: 29.3333333333vh;
  width: 33.3333333333vw;
  transition: 0.5s;
}

.content {
  position: relative;
  display: flex;
  top: 14.6666666667vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  width: 66.6666666667vw;
  animation-delay: 1s;
  animation: fade-out 1s ease-in-out forwards;
}
.content .content-text {
  display: block;
  width: 16.6666666667vw;
}
.content .content-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 3vh;
  width: 33.3333333333vw;
  background-color: #181b1f;
  border-radius: 10px;
}
.content .content-footer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 66%;
  background-color: #e07758;
  border-radius: 7.5px;
  color: #e07758;
  text-decoration: none;
  transition: 0.2s;
}
.content .content-footer .link::before {
  content: "Portal Cards ⤴";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  background-color: #eeeae1;
  border-radius: 20px;
  transition: 0.2s;
}
.content .content-footer .link:hover {
  height: 44%;
  background-color: #eeeae1;
  color: #eeeae1;
}
.content .content-footer .link:hover::before {
  background-color: #e07758;
}

.preview {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #181b1f;
  text-align: center;
  margin-bottom: 3vh;
  width: 33.3333333333vw;
  border-radius: 10px;
  animation-delay: 1s;
  animation: fade-out 1s ease-in-out forwards;
}
.preview .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 100%;
  background-color: #e07758;
  border-radius: 7.5px;
  color: #e07758;
  text-decoration: none;
}
.preview .link::before {
  content: "Portal Cards ⤴";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  background-color: #eeeae1;
  border-radius: 20px;
}

.start {
  display: none;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.logo {
  position: absolute;
  height: 100vh;
}

.mug {
  display: flex;
  justify-content: center;
  align-items: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.mug .lines {
  display: block;
  background-color: none;
  width: 98%;
  height: 0;
  margin: 0;
  padding: 0;
}
.mug .lines:nth-child(even) {
  border-bottom: 0.1vh solid #eeeae1;
}
.mug .lines:nth-child(odd) {
  border-bottom: 0.5vh solid #eeeae1;
}
.mug .lines:nth-child(odd):nth-child(1)::before {
  contents: "96";
}
.mug .lines:nth-child(odd):nth-child(1)::after {
  contents: "96";
}
.mug .lines:nth-child(odd):nth-child(2)::before {
  contents: "90";
}
.mug .lines:nth-child(odd):nth-child(2)::after {
  contents: "90";
}
.mug .lines:nth-child(odd):nth-child(3)::before {
  contents: "84";
}
.mug .lines:nth-child(odd):nth-child(3)::after {
  contents: "84";
}
.mug .lines:nth-child(odd):nth-child(4)::before {
  contents: "78";
}
.mug .lines:nth-child(odd):nth-child(4)::after {
  contents: "78";
}
.mug .lines:nth-child(odd):nth-child(5)::before {
  contents: "72";
}
.mug .lines:nth-child(odd):nth-child(5)::after {
  contents: "72";
}
.mug .lines:nth-child(odd):nth-child(6)::before {
  contents: "66";
}
.mug .lines:nth-child(odd):nth-child(6)::after {
  contents: "66";
}
.mug .lines:nth-child(odd):nth-child(7)::before {
  contents: "60";
}
.mug .lines:nth-child(odd):nth-child(7)::after {
  contents: "60";
}
.mug .lines:nth-child(odd):nth-child(8)::before {
  contents: "54";
}
.mug .lines:nth-child(odd):nth-child(8)::after {
  contents: "54";
}
.mug .lines:nth-child(odd):nth-child(9)::before {
  contents: "48";
}
.mug .lines:nth-child(odd):nth-child(9)::after {
  contents: "48";
}
.mug .lines:nth-child(odd):nth-child(10)::before {
  contents: "42";
}
.mug .lines:nth-child(odd):nth-child(10)::after {
  contents: "42";
}
.mug .lines:nth-child(odd):nth-child(11)::before {
  contents: "36";
}
.mug .lines:nth-child(odd):nth-child(11)::after {
  contents: "36";
}
.mug .lines:nth-child(odd):nth-child(12)::before {
  contents: "30";
}
.mug .lines:nth-child(odd):nth-child(12)::after {
  contents: "30";
}

@media screen and (max-width: 1590px) {
  .card {
    width: 50vw;
  }
  .title {
    width: 50vw;
  }
  .content {
    top: 29.3333333333vh;
  }
  .preview {
    flex-wrap: wrap;
    width: 66.6666666667vw;
  }
  .preview .link {
    width: 75%;
    height: 100%;
  }
  .preview .content-text {
    flex-basis: 100%;
  }
  .preview .content-text h1 {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .content {
    flex-wrap: wrap;
  }
  .content .content-text {
    width: 100%;
  }
  .content .content-footer {
    width: 33.3333333333vw;
  }
  .content .content-footer .content-text {
    width: 50%;
  }
  .preview {
    width: 75vw;
  }
  .preview .link {
    width: 100%;
  }
  .preview .content-text {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .card {
    width: 66.6666666667vw;
  }
  .title {
    width: 66.6666666667vw;
  }
  .content-footer .content-text h1 {
    display: none;
  }
  .preview {
    width: 66.6666666667vw;
  }
  .preview .content-text h1 {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .content .content-footer .link {
    width: 100%;
    height: 100%;
  }
  .content .content-footer .content-text {
    display: none;
    width: 0%;
  }
}/*# sourceMappingURL=app.css.map */